<div ng-controller="CategoriesCreateCtrl" name="theform">

    <form class="form-horizontal" ng-submit="addCategory()">
        <fieldset>
            <legend>Add a category</legend>
            <div class="form-group">
                <label for="title" class="col-lg-2 control-label">Category name</label>
                <div class="col-lg-10">
                    <input type="text" ng-model="name" class="form-control" ng-required="true" id="title" name="title" placeholder="Title">
                </div>
            </div>

              <div class="form-group">
                <label for="textArea" class="col-lg-2 control-label">Description</label>
                <div class="col-lg-10">
                    <textarea class="form-control" ng-model="description" ng-required="true" name="body" rows="3" id="textArea"></textarea>
                    <span class="help-block">{{ 140 - description.length }} caractères restant.</span>
                    <span class="help-block">*La description doit etre comprise entre 30 et 140 caractères</span>
                </div>
            </div>





            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <a href="#/categories" class="btn btn-warning">Cancel</a>
                    <button type="reset" class="btn btn-danger">Reset</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="description.length < 30 || description.length >= 141 " ng-class="{'btn-warning': description.length >= 120, 'btn-danger': description.length >= 141 }">Envoyer</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>